@tailwind base;

@tailwind components;


.selected {
  background-color: lightblue;
}

.wrapper {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(95px, auto)); */
    grid-template-columns: 1fr 8fr;
    justify-items: start;
}

.content {
  width: 100%;
}

input {
  box-sizing: border-box;
}

.btn {
  @apply font-bold text-sm py-1 px-1 rounded mr-1 my-1 border-solid border-2;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-gray {
  @apply bg-gray-400 text-gray-800;
}
.btn-gray:hover {
  @apply bg-gray-300;
}

a {
  @apply text-blue-800;
}

a:hover {
  @apply underline;
}

@tailwind utilities;

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  display: unset;
}

/* form {
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  justify-items: start;
} */

@media (min-width: 300px) {

  .grid_table {
    display: grid;
    grid-column-gap: 5px;
    /* grid-row-gap: 5px; */
    grid-template-columns: auto;
  }
  .grid_table_row {
    display: grid;
    /* grid-column-gap: 5px; */
    /* grid-row-gap: 5px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    width: 100%;
  }
  .grid_table > div.grid_table_row:hover {
    background-color: lightgreen;
  }
  .grid_table > div:nth-of-type(odd) {
    background-color: lightcyan;
  }
  .grid_table > div.grid_table_header {
    background-color: white;
    align-items: end;
    justify-items: center;
  }
  .grid_table_row_cell {
    border: 1px solid black;
  }
  .detail_table {
    display: grid;
    grid-row-gap: 5px;
  }
  .detail_table_row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: left;
  }

  input {
    padding: 2px 4px 2px 4px;
  }
}


